<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.jbpm.preferences.DefaultPage"
            id="org.jboss.tools.jbpm"
            name="JBoss jBPM"/>
   </extension>

</plugin>
