<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="RuleFlow Editor"
            extensions="jpdl4"
            icon="icons/processH.gif"
            contributorClass="org.jboss.tools.process.editor.GenericActionBarContributor"
            class="org.jboss.tools.process.jpdl4.graph.editor.JpdlEditor"
            id="org.jboss.tools.process.jpdl4.graph.editor.JpdlEditor">
      </editor>
   </extension>

   <extension
         point = "org.eclipse.ui.editorActions">
      <editorContribution
            id="org.jboss.tools.process.editor.action.VerticalAutoLayoutAction"
            targetID="org.jboss.tools.process.jpdl4.graph.editor.JpdlEditor">
	     <action
	        id="org.jboss.tools.process.editor.action.VerticalAutoLayoutAction"
            label="Auto Layout (Vertical)"
	        toolbarPath="Process"
            icon="icons/processV.gif"
            tooltip="Auto layout the process (vertical)"
            class="org.jboss.tools.process.editor.action.VerticalAutoLayoutAction"
         />
      </editorContribution>
      <editorContribution
            id="org.jboss.tools.process.editor.action.HorizontalAutoLayoutAction"
            targetID="org.jboss.tools.process.jpdl4.graph.editor.JpdlEditor">
	     <action
	        id="org.jboss.tools.process.editor.action.HorizontalAutoLayoutAction"
            label="Auto Layout (Horizontal)"
	        toolbarPath="Process"
            icon="icons/processH.gif"
            tooltip="Auto layout the process (horizontal)"
            class="org.jboss.tools.process.editor.action.HorizontalAutoLayoutAction"
         />
      </editorContribution>
   </extension>
   
</plugin>
