<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="jPDL4 Editor"
            extensions="jpdl4"
            icon="icons/process.gif"
            contributorClass="org.jboss.tools.flow.common.editor.GenericActionBarContributor"
            class="org.jboss.tools.flow.jpdl4.editor.JpdlEditor"
            id="org.jboss.tools.flow.jpdl4.editor">
      </editor>
   </extension>
   <extension
         point="org.jboss.tools.flow.common.languages">
      <language
            editor="org.jboss.tools.flow.jpdl4.editor"
            id="org.jboss.tools.flow.jpdl4"
            name="jBPM Process Definition Language">
      </language>
   </extension>
   <extension
         point="org.jboss.tools.flow.common.elements">
      <element
            class="org.jboss.tools.flow.jpdl4.model.Process"
            figure="icons/process.gif"
            id="org.jboss.tools.flow.jpdl4.process"
            language="org.jboss.tools.flow.jpdl4"
            name="Process Definition">
         <flow
               acceptsElementStrategy="org.jboss.tools.flow.jpdl4.strategy.ProcessAcceptsElementStrategy"></flow>
      </element>
<!--      <element
            class="org.jboss.tools.flow.jpdl4.model.SuperState"
            figure="icons/exclusive.gif"
            id="org.jboss.tools.flow.jpdl4.superState"
            language="org.jboss.tools.flow.jpdl4"
            name="Super State">
         <container></container>
      </element> -->
      <element
            class="org.jboss.tools.flow.jpdl4.model.StartEvent"
            id="org.jboss.tools.flow.jpdl4.startEvent"
            language="org.jboss.tools.flow.jpdl4">
         <node
               acceptsIncomingConnectionStrategy="org.jboss.tools.flow.jpdl4.strategy.StartEventAcceptsIncomingConnectionStrategy">
            <figure class="org.jboss.tools.flow.jpdl4.figure.StartEventFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.EndEvent"
            id="org.jboss.tools.flow.jpdl4.endEvent"
            language="org.jboss.tools.flow.jpdl4">
         <node
               acceptsOutgoingConnectionStrategy="org.jboss.tools.flow.jpdl4.strategy.EndStateAcceptsOutgoingConnectionStrategy">
            <figure class="org.jboss.tools.flow.jpdl4.figure.EndEventFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.StateTask"
            id="org.jboss.tools.flow.jpdl4.stateTask"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.StateTaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.SequenceFlow"
            figure="icons/sequence.gif"
            id="org.jboss.tools.flow.jpdl4.sequenceFlow"
            language="org.jboss.tools.flow.jpdl4"
            name="Flow">
         <connection></connection>
      </element>
   </extension>

</plugin>
