<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
     <content-type 
           base-type="org.eclipse.core.runtime.xml"
           file-extensions="xml"
           id="org.jboss.tools.flow.jpdl4"
           name="jPDL 4 File"
           priority="normal">
        <describer 
              class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
           <parameter 
                 name="element" 
                 value="process">
           </parameter>
        </describer>
     </content-type>
   </extension>
<!--   <extension point="org.eclipse.ui.editors">
      <editor
            name="jPDL4 Editor"
            icon="icons/process.gif"
            contributorClass="org.jboss.tools.flow.common.editor.GenericActionBarContributor"
            class="org.jboss.tools.flow.jpdl4.editor.JpdlEditor"
            id="org.jboss.tools.flow.jpdl4.editor">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.flow.jpdl4">
         </contentTypeBinding>
      </editor>
   </extension> -->
   <extension
         point="org.jboss.tools.flow.common.languages">
      <language
            editor="org.jboss.tools.flow.jpdl4.editor"
            id="org.jboss.tools.flow.jpdl4"
            name="jBPM Process Definition Language">
      </language>
   </extension>
   <extension
         point="org.jboss.tools.flow.common.elements">
      <element
            class="org.jboss.tools.flow.jpdl4.model.Process"
            figure="icons/process.gif"
            id="org.jboss.tools.flow.jpdl4.process"
            label="process"
            language="org.jboss.tools.flow.jpdl4">
         <flow
               acceptsElementStrategy="org.jboss.tools.flow.jpdl4.strategy.ProcessAcceptsElementStrategy"></flow>
      </element>
<!--      <element
            class="org.jboss.tools.flow.jpdl4.model.SuperState"
            figure="icons/exclusive.gif"
            id="org.jboss.tools.flow.jpdl4.superState"
            language="org.jboss.tools.flow.jpdl4"
            name="Super State">
         <container></container>
      </element> -->
      <element
            class="org.jboss.tools.flow.jpdl4.model.StartEvent"
            figure="icons/16/start_event_empty.png"
            id="org.jboss.tools.flow.jpdl4.startEvent"
            label="start"
            language="org.jboss.tools.flow.jpdl4">
         <node
               acceptsIncomingConnectionStrategy="org.jboss.tools.flow.jpdl4.strategy.StartEventAcceptsIncomingConnectionStrategy">
            <figure class="org.jboss.tools.flow.jpdl4.figure.StartEventFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.TerminateEndEvent"
            figure="icons/16/end_event_terminate.png"
            id="org.jboss.tools.flow.jpdl4.terminateEndEvent"
            label="end"
            language="org.jboss.tools.flow.jpdl4">
         <node
               acceptsOutgoingConnectionStrategy="org.jboss.tools.flow.jpdl4.strategy.EndEventAcceptsOutgoingConnectionStrategy">
            <figure class="org.jboss.tools.flow.jpdl4.figure.TerminateEndEventFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.CancelEndEvent"
            figure="icons/16/end_event_cancel.png"
            id="org.jboss.tools.flow.jpdl4.cancelEndEvent"
            label="cancel"
            language="org.jboss.tools.flow.jpdl4">
         <node
               acceptsOutgoingConnectionStrategy="org.jboss.tools.flow.jpdl4.strategy.EndEventAcceptsOutgoingConnectionStrategy">
            <figure class="org.jboss.tools.flow.jpdl4.figure.CancelEndEventFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.ErrorEndEvent"
            figure="icons/16/end_event_error.png"
            id="org.jboss.tools.flow.jpdl4.errorEndEvent"
            label="error"
            language="org.jboss.tools.flow.jpdl4">
         <node
               acceptsOutgoingConnectionStrategy="org.jboss.tools.flow.jpdl4.strategy.EndEventAcceptsOutgoingConnectionStrategy">
            <figure class="org.jboss.tools.flow.jpdl4.figure.ErrorEndEventFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.WaitTask"
            figure="icons/16/task_wait.png"
            id="org.jboss.tools.flow.jpdl4.waitTask"
            label="state"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.HqlTask"
            figure="icons/16/task_hql.png"
            id="org.jboss.tools.flow.jpdl4.hqlTask"
            label="hql"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.SqlTask"
            figure="icons/16/task_sql.png"
            id="org.jboss.tools.flow.jpdl4.sqlTask"
            label="sql"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.MailTask"
            figure="icons/16/task_empty.png"
            id="org.jboss.tools.flow.jpdl4.mailTask"
            label="mail"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.JavaTask"
            figure="icons/16/task_java.png"
            id="org.jboss.tools.flow.jpdl4.javaTask"
            label="java"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.ScriptTask"
            figure="icons/16/task_empty.png"
            id="org.jboss.tools.flow.jpdl4.scriptTask"
            label="script"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
<!--      <element
            class="org.jboss.tools.flow.jpdl4.model.ServiceTask"
            figure="icons/16/task_empty.png"
            id="org.jboss.tools.flow.jpdl4.serviceTask"
            label="esb"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element> -->
      <element
            class="org.jboss.tools.flow.jpdl4.model.HumanTask"
            figure="icons/16/task_empty.png"
            id="org.jboss.tools.flow.jpdl4.humanTask"
            label="task"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.SubprocessTask"
            figure="icons/16/task_empty.png"
            id="org.jboss.tools.flow.jpdl4.subprocessTask"
            label="Subprocess"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.CustomTask"
            figure="icons/16/task_empty.png"
            id="org.jboss.tools.flow.jpdl4.customTask"
            label="custom"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.TaskFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.ExclusiveGateway"
            figure="icons/16/gateway_exclusive.png"
            id="org.jboss.tools.flow.jpdl4.exclusiveGateway"
            label="exclusive"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.ExclusiveGatewayFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.ForkParallelGateway"
            figure="icons/16/gateway_parallel.png"
            id="org.jboss.tools.flow.jpdl4.parallelForkGateway"
            label="fork"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.ParallelGatewayFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.JoinParallelGateway"
            figure="icons/16/gateway_parallel.png"
            id="org.jboss.tools.flow.jpdl4.parallelJoinGateway"
            label="join"
            language="org.jboss.tools.flow.jpdl4">
         <node>
            <figure class="org.jboss.tools.flow.jpdl4.figure.ParallelGatewayFigure"></figure>
         </node>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.SequenceFlow"
            figure="icons/sequence.gif"
            id="org.jboss.tools.flow.jpdl4.sequenceFlow"
            label="flow"
            language="org.jboss.tools.flow.jpdl4">
         <connection></connection>
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.Swimlane"
            figure="icons/16/swimlane.gif"
            id="org.jboss.tools.flow.jpdl4.swimlane"
            label="swimlane"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.Timer"
            figure="icons/16/timer.gif"
            id="org.jboss.tools.flow.jpdl4.timer"
            label="timer"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.EventListenerContainer"
            figure="icons/16/events_multiple.gif"
            id="org.jboss.tools.flow.jpdl4.eventListenerContainer"
            label="events"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.EventListener"
            figure="icons/16/event.gif"
            id="org.jboss.tools.flow.jpdl4.eventListener"
            label="event"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.InputParameter"
            figure="icons/16/input.gif"
            id="org.jboss.tools.flow.jpdl4.inputParameter"
            label="input parameter"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.OutputParameter"
            figure="icons/16/output.gif"
            id="org.jboss.tools.flow.jpdl4.outputParameter"
            label="output parameter"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.Argument"
            figure="icons/16/argument.gif"
            id="org.jboss.tools.flow.jpdl4.argument"
            label="argument"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.Field"
            figure="icons/16/field.gif"
            id="org.jboss.tools.flow.jpdl4.field"
            label="field"
            language="org.jboss.tools.flow.jpdl4">
      </element>
      <element
            class="org.jboss.tools.flow.jpdl4.model.PrimitiveObject"
            figure="icons/16/object.png"
            id="org.jboss.tools.flow.jpdl4.primitive"
            label="primitive"
            language="org.jboss.tools.flow.jpdl4">
      </element>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.jboss.tools.jbpm"
            class="org.jboss.tools.flow.jpdl4.wizard.NewJpdl4FileWizard"
            icon="icons/process.gif"
            id="org.jboss.tools.flow.jpdl4.file"
            name="jBPM 4 Process Definition">
         <description>
            A wizard that creates a new jBPM 4 process definition
         </description>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.jboss.tools.flow.jpdl4.editor"
            typeMapper="org.jboss.tools.flow.jpdl4.properties.TypeMapper">
         <propertyCategory category="general"/>
         <propertyCategory category="details"/>
         <propertyCategory category="graphics"/>
<!--         <propertyCategory category="advanced"/> -->
      </propertyContributor>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.jboss.tools.flow.jpdl4.editor">
         <propertyTab
               category="general"
               id="org.jboss.tools.jpdl4.general"
               label="General"/>
         <propertyTab
               afterTab="org.jboss.tools.jpdl4.general"
               category="general"
               id="org.jboss.tools.jpdl4.assignment"
               label="Assignment"/>
         <propertyTab
               afterTab="org.jboss.tools.jpdl4.general"
               category="general"
               id="org.jboss.tools.jpdl4.subprocess"
               label="Subprocess"/>
         <propertyTab
               afterTab="org.jboss.tools.jpdl4.general"
               category="general"
               id="org.jboss.tools.jpdl4.javaTask.fields"
               label="Fields"/>
         <propertyTab
               afterTab="org.jboss.tools.jpdl4.javaTask.fields"
               category="general"
               id="org.jboss.tools.jpdl4.javaTask.arguments"
               label="Arguments"/>
<!--         <propertyTab
               afterTab="org.jboss.tools.jpdl4.general"
               category="details"
               id="org.jboss.tools.jpdl4.details"
               label="Details"/> 
         <propertyTab
               afterTab="org.jboss.tools.jpdl4.details"
               category="graphics"
               id="org.jboss.tools.jpdl4.graphics"
               label="Graphics"/>
         <propertyTab
               afterTab="org.jboss.tools.jpdl4.graphics"
               category="advanced"
               id="org.jboss.tools.jpdl4.advanced"
               label="Advanced"/> -->
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.jboss.tools.flow.jpdl4.editor">
<!--          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.AdvancedSection"
               id="org.jboss.tools.jpdl4.advanced"
               tab="org.jboss.tools.jpdl4.advanced">
            <input type="java.lang.Object"/> 
         </propertySection> -->
          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.NameSection"
               id="org.jboss.tools.jpdl4.name"
               tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.SequenceFlow"/>
            <input type="org.jboss.tools.flow.jpdl4.model.ProcessNode"/>
            <input type="org.jboss.tools.flow.jpdl4.model.Process"/> 
            <input type="org.jboss.tools.flow.jpdl4.model.Swimlane"/> 
          </propertySection>
          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.TimerSection"
               id="org.jboss.tools.jpdl4.timer"
               tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Timer"/>
          </propertySection>
          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.SubprocessSection"
               id="org.jboss.tools.jpdl4.subprocess"
               tab="org.jboss.tools.jpdl4.subprocess">
            <input type="org.jboss.tools.flow.jpdl4.model.SubprocessTask"/>
          </propertySection>
          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.EventTypeSection"
               id="org.jboss.tools.jpdl4.eventListenerContainer.eventType"
               tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.EventListenerContainer"/>
          </propertySection>
          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.EventListenerClassNameSection"
               id="org.jboss.tools.jpdl4.eventListener.className"
               tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.EventListener"/>
          </propertySection>
          <propertySection
               class="org.jboss.tools.flow.jpdl4.properties.AssignmentSection"
               id="org.jboss.tools.jpdl4.assignment"
               tab="org.jboss.tools.jpdl4.assignment">
            <input type="org.jboss.tools.flow.jpdl4.model.HumanTask"/>
            <input type="org.jboss.tools.flow.jpdl4.model.Swimlane"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.ProcessKeySection"
                id="org.jboss.tools.jpdl4.process.key"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Process"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.process.key"
                class="org.jboss.tools.flow.jpdl4.properties.ProcessVersionSection"
                id="org.jboss.tools.jpdl4.process.version"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Process"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.process.version"
                class="org.jboss.tools.flow.jpdl4.properties.ProcessDescriptionSection"
                id="org.jboss.tools.jpdl4.process.description"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Process"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.ExclusiveGatewayLanguageSection"
                id="org.jboss.tools.jpdl4.exclusiveGateway.language"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ExclusiveGateway"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.exclusiveGateway.language"
                class="org.jboss.tools.flow.jpdl4.properties.ExclusiveGatewayExpressionSection"
                id="org.jboss.tools.jpdl4.exclusiveGateway.expression"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ExclusiveGateway"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.exclusiveGateway.expression"
                class="org.jboss.tools.flow.jpdl4.properties.ExclusiveGatewayClassNameSection"
                id="org.jboss.tools.jpdl4.exclusiveGateway.classname"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ExclusiveGateway"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.EndEventEndsSection"
                id="org.jboss.tools.jpdl4.endEvent.ends"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.TerminateEndEvent"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.endEvent.ends"
                class="org.jboss.tools.flow.jpdl4.properties.EndEventStateSection"
                id="org.jboss.tools.jpdl4.endEvent.state"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.TerminateEndEvent"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.eventListenerContainer.eventType"
                class="org.jboss.tools.flow.jpdl4.properties.EventListenerContainerDueDateSection"
                id="org.jboss.tools.jpdl4.eventListenerContainer.timer"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.EventListenerContainer"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.SequenceFlowTimerSection"
                id="org.jboss.tools.jpdl4.sequenceFlow.timer"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.SequenceFlow"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.sequenceFlow.timer"
                class="org.jboss.tools.flow.jpdl4.properties.SequenceFlowOutcomeValueSection"
                filter="org.jboss.tools.flow.jpdl4.properties.SequenceFlowOutcomeValueFilter"
                id="org.jboss.tools.jpdl4.sequenceFlow.outcome"
                tab="org.jboss.tools.jpdl4.general">
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.JavaTaskClassSection"
                id="org.jboss.tools.jpdl4.javaTask.class"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.JavaTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.javaTask.class"
                class="org.jboss.tools.flow.jpdl4.properties.JavaTaskMethodSection"
                id="org.jboss.tools.jpdl4.javaTask.method"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.JavaTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.javaTask.method"
                class="org.jboss.tools.flow.jpdl4.properties.JavaTaskVariableSection"
                id="org.jboss.tools.jpdl4.javaTask.var"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.JavaTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.ScriptTaskExpressionSection"
                id="org.jboss.tools.jpdl4.scriptTask.expr"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ScriptTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.scriptTask.expr"
                class="org.jboss.tools.flow.jpdl4.properties.ScriptTaskLanguageSection"
                id="org.jboss.tools.jpdl4.scriptTask.lang"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ScriptTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.scriptTask.lang"
                class="org.jboss.tools.flow.jpdl4.properties.ScriptTaskVariableSection"
                id="org.jboss.tools.jpdl4.scriptTask.var"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ScriptTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.scriptTask.var"
                class="org.jboss.tools.flow.jpdl4.properties.ScriptTaskTextSection"
                id="org.jboss.tools.jpdl4.scriptTask.text"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.ScriptTask"/>
          </propertySection>
          <propertySection
                class="org.jboss.tools.flow.jpdl4.properties.ParameterOuterVariableSection"
                id="org.jboss.tools.jpdl4.inputParameter.outerVariable"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.InputParameter"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.inputParameter.outerVariable"
                class="org.jboss.tools.flow.jpdl4.properties.ParameterInnerVariableSection"
                id="org.jboss.tools.jpdl4.inputParameter.innerVariable"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.InputParameter"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.inputParameter.innerVariable"
                class="org.jboss.tools.flow.jpdl4.properties.ParameterExpressionSection"
                id="org.jboss.tools.jpdl4.inputParameter.expression"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.InputParameter"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.inputParameter.expression"
                class="org.jboss.tools.flow.jpdl4.properties.ParameterLanguageSection"
                id="org.jboss.tools.jpdl4.inputParameter.language"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.InputParameter"/>
          </propertySection>
          <propertySection
                class="org.jboss.tools.flow.jpdl4.properties.ParameterInnerVariableSection"
                id="org.jboss.tools.jpdl4.outputParameter.innerVariable"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.OutputParameter"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.outputParameter.innerVariable"
                class="org.jboss.tools.flow.jpdl4.properties.ParameterOuterVariableSection"
                id="org.jboss.tools.jpdl4.outputParameter.outerVariable"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.OutputParameter"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.outputParameter.outerVariable"
                class="org.jboss.tools.flow.jpdl4.properties.ParameterExpressionSection"
                id="org.jboss.tools.jpdl4.outputParameter.expression"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.OutputParameter"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.outputParameter.expression"
                class="org.jboss.tools.flow.jpdl4.properties.ParameterLanguageSection"
                id="org.jboss.tools.jpdl4.outputParameter.language"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.OutputParameter"/>
          </propertySection>
          <propertySection
                class="org.jboss.tools.flow.jpdl4.properties.ArgumentValueSection"
                id="org.jboss.tools.jpdl4.argument.value"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Argument"/>
          </propertySection>
          <propertySection
                class="org.jboss.tools.flow.jpdl4.properties.FieldNameSection"
                id="org.jboss.tools.jpdl4.field.name"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Field"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.field.name"
                class="org.jboss.tools.flow.jpdl4.properties.FieldValueSection"
                id="org.jboss.tools.jpdl4.field.value"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.Field"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.name"
                class="org.jboss.tools.flow.jpdl4.properties.QueryTaskVariableNameSection"
                id="org.jboss.tools.jpdl4.hqlTask.variableName"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.QueryTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.hqlTask.variableName"
                class="org.jboss.tools.flow.jpdl4.properties.QueryTaskUniqueSection"
                id="org.jboss.tools.jpdl4.hqlTask.unique"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.QueryTask"/>
          </propertySection>
          <propertySection
                afterSection="org.jboss.tools.jpdl4.hqlTask.unique"
                class="org.jboss.tools.flow.jpdl4.properties.QueryTaskQuerySection"
                id="org.jboss.tools.jpdl4.hqlTask.query"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.QueryTask"/>
          </propertySection>
          <propertySection
                class="org.jboss.tools.flow.jpdl4.properties.PrimitiveObjectValueSection"
                id="org.jboss.tools.jpdl4.primitiveObject.value"
                tab="org.jboss.tools.jpdl4.general">
            <input type="org.jboss.tools.flow.jpdl4.model.PrimitiveObject"/>
          </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jboss.tools.jbpm"
            class="org.jboss.tools.flow.jpdl4.view.DetailsView"
            icon="icons/process.gif"
            id="org.jboss.tools.flow.jpdl4.details"
            name="Details (jBPM 4)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="jPDL 4 Command Category"
            id="org.jboss.tools.flow.jpdl4"
            name="jPDL 4">
      </category>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddSwimlaneHandler"
            id="org.jboss.tools.flow.jpdl4.addSwimlane"
            name="Add Swimlane">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddEventListenerHandler"
            id="org.jboss.tools.flow.jpdl4.addEventListener"
            name="Add Event Listener">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddTimerHandler"
            id="org.jboss.tools.flow.jpdl4.addTimer"
            name="Add Timer">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddInputParameterHandler"
            id="org.jboss.tools.flow.jpdl4.addInputParameter"
            name="Add Input Parameter">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddOutputParameterHandler"
            id="org.jboss.tools.flow.jpdl4.addOutputParameter"
            name="Add Output Parameter">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddArgumentHandler"
            id="org.jboss.tools.flow.jpdl4.addArgument"
            name="Add Argument">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddFieldHandler"
            id="org.jboss.tools.flow.jpdl4.addField"
            name="Add Field">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.AddParameterHandler"
            id="org.jboss.tools.flow.jpdl4.addParameter"
            name="Add Parameter">
      </command>
      <command
            categoryId="org.jboss.tools.flow.jpdl4"
            defaultHandler="org.jboss.tools.flow.jpdl4.handler.DeleteElementHandler"
            id="org.jboss.tools.flow.jpdl4.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.jboss.tools.flow.jpdl4.details">
         <command
               commandId="org.jboss.tools.flow.jpdl4.addSwimlane"
               icon="icons/16/new_swimlane.gif"
               id="org.jboss.tools.flow.jpdl4.addSwimlane"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.ProcessTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.SwimlaneListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addEventListener"
               icon="icons/16/new_event_listener.gif"
               id="org.jboss.tools.flow.jpdl4.addEventListener"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.ProcessTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.TaskTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.SequenceFlowTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.EventListenerListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addTimer"
               icon="icons/16/new_timer.gif"
               id="org.jboss.tools.flow.jpdl4.addTimer"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.ProcessTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.TimerListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addInputParameter"
               icon="icons/16/input.gif"
               id="org.jboss.tools.flow.jpdl4.addInputParameter"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.SubprocessTaskTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.InputParameterListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addOutputParameter"
               icon="icons/16/output.gif"
               id="org.jboss.tools.flow.jpdl4.addOutputParameter"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.SubprocessTaskTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.OutputParameterListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addArgument"
               icon="icons/16/argument.gif"
               id="org.jboss.tools.flow.jpdl4.addArgument"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.JavaTaskTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.ArgumentListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addParameter"
               icon="icons/16/argument.gif"
               id="org.jboss.tools.flow.jpdl4.addParameter"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.QueryTaskTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.ParameterListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.flow.jpdl4.addField"
               icon="icons/16/field.gif"
               id="org.jboss.tools.flow.jpdl4.addField"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.JavaTaskTreeRootEditPart">
                     </instanceof>
                     <instanceof
                           value="org.jboss.tools.flow.jpdl4.editpart.FieldListTreeEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.jboss.tools.flow.jpdl4.details.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.jboss.tools.flow.jpdl4.delete"
               icon="icons/16/delete.gif"
               id="org.jboss.tools.flow.jpdl4.details.delete"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <instanceof
                        value="org.jboss.tools.flow.jpdl4.editpart.ElementTreeEditPart">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension> 

   <extension
         point="org.eclipse.ui.preferencePages">
      <page class="org.jboss.tools.jbpm.preferences.DefaultPage"
            id="org.jboss.tools.flow.jpdl4"
            name="jBPM 4"
            category="org.jboss.tools.jbpm"/>
      <page
            class="org.jboss.tools.flow.jpdl4.preferences.Jbpm4LocationsPage"
            id="org.jboss.tools.flow.jpdl4.locations"
            name="Runtime Locations"
            category="org.jboss.tools.flow.jpdl4"/>
   </extension>
   
</plugin>
