<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.flow.jpdl4.multipage.editors.MultiPageEditor"
            contributorClass="org.jboss.tools.flow.jpdl4.multipage.editors.MultiPageEditorContributor"
            icon="icons/process.gif"
            id="org.jboss.tools.flow.jpdl4.multipage.editors.MultiPageEditor"
            name="jBPM jPDL4 Editor">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.flow.jpdl4">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.jboss.tools.flow.jpdl4"
         name="jPDL 4 Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            class="org.jboss.tools.flow.jpdl4.multipage.validator.Jpdl4Validator">
         <include>
            <rules>
               <contentType
                     id="org.jboss.tools.flow.jpdl4">
               </contentType>
            </rules>
         </include>
      </validator>
   </extension>
	<extension id="org.jboss.tools.flow.jpdl4.problem" point="org.eclipse.core.resources.markers" name="jPDL 4 Problem">
   		<super type="org.eclipse.core.resources.problemmarker"/>
	</extension>
</plugin>
